* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

input,
select {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

// .s-btn {
//   width: 100%;
//   background-color: $primary-color;
//   color: $white;
//   border: none;
//   outline: none;
//   border-radius: $radius;
//   font-weight: 600;
//   @include flex_center;
//   padding-top: 15px;
//   padding-bottom: 15px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   font-size: 18px;
// }
.yellow-btn,
.s-btn {
  width: 100%;
  background-color: $yellow;
  color: $black;
  border: none;
  outline: none;
  border-radius: $radius;
  font-weight: 600;
  @include flex_center;
  padding: 12px 20px;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  a{
    @include flex_center;
  }

  svg {
    margin: 5px;
  }
}

.yel-btn {
  width: 100%;
  background-color: transparent;
  color: $black;
  border: 1px solid $yellow;
  outline: none;
  border-radius: $radius;
  font-weight: 600;
  @include flex_center;
  padding: 12px 20px;
  padding-bottom: 15px;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;

  a{
    @include flex_center;
  }
}
