.signup-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .signup {
    &-wraper {
      width: 50%;
      height: 100%;

      img {
        @include cover_img;
      }
    }
    &-form {
      width: 50%;
      background-color: $g-white;

      &-header {
        height: 104px;
        width: 100%;
        @include flex_center;
        border-bottom: 1px solid $black;
        img {
          @include contain_img;
          padding: 25px 0;

        }
      }
      &-container {
        @include flex_center;
        flex-direction: column;
        padding-top: 30px;
        .heading {
          font-size: 24px;
          font-weight: bold;
          margin-top: 7px;
          margin-bottom: 5px;
        }
        .subHeading {
          font-size: 24px;
        }
        .icon-ctn {          
          svg {
            height: 89px;
            width: 83px;
          }
        }
        form {
          padding-top: 10px;
        }
        .input-ctn {
          //max-width: 410px;
          width: 100%;
          border-bottom: 1px solid $primary-color;
          margin: 7px 0;

        
          svg {
            height: 20px;
            width: 23px;
          }

          input,
          select {
            border: none;
            padding: 5px 10px;
            width: calc(100% - 30px);
            background-color: transparent;

            &:focus {
              outline: none;
            }
          }
          option {
            background-color: $g-white;
            width: 100% !important;
          }
          .psw {
            position: absolute;
            @include flex_center;
            right: 0;
            bottom: 5px;
          }
        }
        .terms {
          text-align: center;
          margin: 10px auto;
          padding: 8px 35px;
        }
        .redirect {
          margin: 10px auto;
        }
        .signup {
          font-weight: bold;
          // color: $primary-color;
        }
      }
    }
  }
}
